@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-grayish-blue: hsl(217, 19%, 38%);
  --clr-dark-grayish-blue: hsl(217, 19%, 24%);
  --clr-blue: hsl(218, 23%, 16%);
  --clr-light-cyan: hsl(193, 38%, 86%);
  --clr-green: hsl(150, 100%, 66%);
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--clr-blue);
  font-size: 28px;
  font-weight: 800;
  font-family: "Manrope";
}

.card {
  background-color: var(--clr-dark-grayish-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
  padding: 2rem 1.5rem 4rem;
  width: 50%;
  color: var(--clr-light-cyan);
  border-radius: 10px;
  opacity: 0.7;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 60px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.mobile {
  display: none;
}

.number {
  color: var(--clr-green);
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
}

.advice {
  max-width: 32ch;
  text-align: center;
}

.dice {
  background-color: var(--clr-green);
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -30px;
  z-index: 10;
  border: none;
}

.dice:hover {
  opacity: 0.8;
}

@media (max-width: 900px) {
  .card {
    width: 80%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
